// Fonts Configure

//MeedoriSans 
@font-face
  font-family 'MeedoriSans'
  font-style normal
  font-weight normal
  src url(/fonts/MeedoriSansRegular.ttf)

@font-face
  font-family 'MeedoriSans'
  font-style normal
  font-weight bold
  src url(/fonts/MeedoriSansBold.ttf)

@font-face
  font-family 'MeedoriSans'
  font-style normal
  font-weight lighter
  src url(/fonts/MeedoriSansLight.ttf)

//Sansation
@font-face
  font-family 'Sansation'
  font-style normal
  font-weight normal
  src url(/fonts/SANSATION_REGULAR.ttf)

@font-face
  font-family 'Sansation'
  font-style normal
  font-weight bold
  src url(/fonts/SANSATION_BOLD.ttf)

@font-face
  font-family 'Sansation'
  font-style normal
  font-weight lighter
  src url(/fonts/SANSATION_LIGHT.ttf)

body
  font-family Sansation
  font-weight normal
  font-style normal
  color white
