//Import of libraries and components

@import "normalize.styl"
@import "flexboxgrid.styl"
@import "fonts.styl"
@import "aos.styl"

::-webkit-scrollbar {
      width: 11px;
}
::-webkit-scrollbar-track {
      background-color: #213648;
}
::-webkit-scrollbar-thumb {
      background-color: rgba(white, 0.1);
}
//Colors
yellow = yellow
twitterColor = #00BCE6
facebookColor = #0017E6
youtubeColor = #FD1717
instagramColor = #FF13CF
twitchColor = #6441a4
img
	width: 100%

.bold
	font-weight bold

.regular
	font-weight normal

.lighter
	font-weight: lighter

.yellow
	color yellow

.blueDark
	color #566FA2

.yellowDark
	color: #791E00

.black
	color: black

.bandera
	width:100%;
	height:5px;
	position:relative;
	background:#f1f1f1;
	overflow:hidden;
	transition:0.3s linear;
	background: linear-gradient(90deg,#FFCC00 50%,#0031FF 50.01%,#0031FF 75%,#FF0000 75.01%)
	&-info
		padding: 1em .2em
		background-color: rgba(black, 50%)
		width:100%;
		font-size: 130%

[class*="socialIcon-"]
	font-size: 1.4em
	border-radius: 2em
	width: 2em
	height: 2em
	text-align: center
	display: flex
	flex: row
	align-items: center
	justify-content: center
	margin-right: 1em
	transition: .2s all linear
.socialIcon
	&-facebook
		background-color: facebookColor
		&:hover
			background-color: white
			color: facebookColor
	&-twitter
		background-color: twitterColor
		&:hover
			background-color: white
			color: twitterColor
	&-instagram
		background-color: instagramColor
		&:hover
			background-color: white
			color: instagramColor
	&-youtube
		background-color: youtubeColor
		&:hover
			background-color: white
			color: youtubeColor
	&-twitch
		background-color: twitchColor
		&:hover
			background-color: white
			color: twitchColor
.topBar
	background-color: #213648
	padding .7em 0
	& .socialIcon
		color white
		margin-right 1em
		transition .1s all linear
		&:hover
			color yellow
	& .btn
		font-size 85%

.btn
	min-width: 3.5em
	border-radius 1em
	padding .5em 1em
	text-decoration none
	color black
	font-weight bold
	&-yellow
		background-color: #FFFF00
		transition .1s all linear
		&:hover
			background-color: #DDDD7A
	&-facebook
		background-color: facebookColor
		display: flex
		align-items: center
		border-radius: 1.7em
		padding: 0 2em
		transition .1s all linear
		&:hover
			background-color: white
			color: facebookColor
	&-twitter
		background-color: twitterColor
		display: flex
		align-items: center
		border-radius: 1.7em
		padding: 0 2em
		transition .1s all linear
		&:hover
			background-color: white
			color: twitterColor
	&-instagram
		background-color: instagramColor
		display: flex
		align-items: center
		border-radius: 1.7em
		padding: 0 2em
		transition .1s all linear
		&:hover
			background-color: white
			color: instagramColor
	&-twitch
		background-color: twitchColor
		display: flex
		align-items: center
		border-radius: 1.7em
		padding: 0 2em
		transition .1s all linear
		&:hover
			background-color: white
			color: twitchColor

	&-square
		border solid white 3px
		text-transform: capitalize
		width: 100%
		background-color: rgba(black, 40%)
		padding: .7em .1em
		font-weight: bold
input
	min-width: 3.5em
	border-radius 1em
	padding .5em 0
	width: 100%
	text-align: center
	margin-bottom: 1em
	margin-top: .8em
	font-family: Sansation, FontAwesome;
	color: black
	&::placeholder
		color: red

a
	text-decoration none
	text-transform: uppercase
	color white
	transition .1s all linear
	font-weight: bold
	&:hover
			color: #FFFF00
	&.yellow
			color: #FFFF00
			&:hover
					color: white

.headerSection
	background-image: url("/img/backgroundHeader.png")
	background-size: cover
	background-position: top
	background-repeat: no-repeat
	padding-top: 2em
	padding-bottom: 4em
	& .menu
		margin-bottom: 3em
	& .buttons
		margin-top: 1.5em
		& [class*="col-"]
			padding: 0
			&:first-child	
				padding-right: .2rem
			&:last-child	
				padding-left: .2rem

.sectionOne
	background-image: url("/img/background_sectionOne.png")
	background-size: cover
	background-position: top
	background-repeat: no-repeat
	& .description
		padding-top: 1.5em
		padding-bottom: 5em
		position: relative
		& h1, h2, h3
			margin: 0
			font-size: 250%
		& h2
			font-size: 200%
			font-weight: normal
		& h3
			font-size: 180%
			margin-bottom: .3em
		& .redes
			margin-top: 2em
			
	& img
		position: absolute
		bottom: 0
		width: 35%
		right: 0

.sectionTwo
	background-image: url("/img/background_sectionTwo.png")
	background-size: cover
	background-position: top
	background-repeat: no-repeat
	padding-top: 1.5em
	padding-bottom: 2em
	& h2
		margin: 0
		&:last-child
			margin-bottom: 2em
	
.sectionCalendar
	background-image: url("/img/background_sectionCalendar.png")
	background-size: cover
	background-position: bottom
	background-repeat: no-repeat
	padding-top: 1em
	padding-bottom: 6em 
	& .days
		margin-top: 2em
		& button
			background-color: #5688DC
			border: none
			border-radius: .4em
			padding: .6em .8em
			margin-right: .6em
			font-weight: bold
			transition: .2s all ease-in
			&.active
			&:hover 
				background-color: #0D3290
	& .form
		margin-top: 10em 
	& .pj1
	& .pj2
		position: absolute
		width: 40%
		bottom 0
	& .pj2
		right: 0
	& h2 
		font-size: 250%
		margin-bottom: 0
	& p
		margin: 0
	& table
		margin-top: 4em 
		width: 100%
		& th, td
			text-align: center
		& td
			color black
			padding: .2em .4em
			& div
				background-color: white
				border-radius: .2em
				padding: .4em 0
				font-weight: bold
		& tbody
			display: none
			transition: .1s all linear
			&.active
				display: table-row-group

.socialFollow
	background: linear-gradient(to bottom, rgba(0,0,0,0.42) 0%, rgba(56,56,56,0) 22%, rgba(255,255,255,0) 100%);
	background-color: #0143a0;
	padding-top: 1.5em
	padding-bottom: 2em
	& h1
		font-size: 250%
		margin: 0
		margin-bottom: .7em
	& p
		margin: 0
	& .feed
		background-color: #172c96
		width: 100%
		border-radius: .5em
		padding: 1em 0
		
		margin-bottom: 1em
		margin-top: 1em
		& .detail
			margin-bottom: .5em
			& .time
				color: #7095DA
				font-size: 80%
				padding-right: 1em !important 
			& [class*="col-"]
				padding: 0
				&:first-child	
					padding-right: .2rem
				&:last-child	
					padding-left: .2rem
	& .photo
		& img
			border-radius: 4em
.where
	background-color: #FFB100
	& h3,h4
		margin: 0
	& h2
		font-size: 140%
	& h3
		font-size: 100%
	& h4
		font-size: 80%
		margin-bottom: 1em 
	& img
		vertical-align: middle;

.sponsors
	padding: 1em 0 3em 0
	& .gallery-cell
		width:40%;
		height: 130px;
		margin-right: 15px;
		& img
			width: auto
			height: 100%

footer
	background-color: #1F1F1F
	padding-top: 1.5em
	padding-bottom: 1.5em

.menu-fixed
	position: fixed;
	width: 100%;
	background-color: rgba(#213648,0.9)
	z-index: -1;
	height: 3em;
	opacity: 0
	transition: .5s all ease-out
	visibility: hidden
	&.active
		z-index: 1504000;
		opacity: 1
// Media Querys
@media only screen and (min-width: 48em)
	.sectionOne
		& .description
			padding-top: 3em
		& img
			width: 50%
	.sectionCalendar
		padding-top: 1em
		padding-bottom: 10em
	.where
		& h2
			font-size: 180%
		& h3
			font-size: 140%
		& h4
			font-size: 110%
			margin-bottom: 1em 
		& img
			vertical-align: middle;
	.sponsors
		& .gallery-cell
			width:25%;


@media only screen and (min-width: 64em)
	.sectionOne
		& .description
			padding-top: 3em
		& img
			width: 50%
	.sectionCalendar
		padding-top: 2.5em
	.socialFollow
		padding-top: 3.5em
	.sectionTwo
		padding-top: 2.5em
	.menu-fixed
		visibility: visible
	.sponsors
		& .gallery-cell
			width:15%;
@media only screen and (min-width: 75em)
	.sectionOne	
		& .description
			padding-top: 3em
		& img
			width: 41%
	.sectionCalendar
		padding-top: 5em